# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules



# Logs
logs
*.log
package-lock.json
yarn.lock

.yarn
.yarn/
.yarn/install-stage.gz

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.yarn