@import '../icomoon/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .transition-300 {
    transition: all 0.3s ease;
  }
}

body {
  background-color: #f7f8fa;
  overflow-x: hidden;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 32px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 992px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 740px;
    padding: 0 10px;
  }
}