@import '../icomoon/style.css';
@import '../fonts/Proxima/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-300 {
    transition: all 0.3s ease;
  }
}

body {
  font-family: 'Proxima Nova', sans-serif;
  background-color: #f7f8fa;
  overflow-x: hidden;
}

.container {
  max-width: 1184px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 740px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.product-slider .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 3px;
}
